<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
<aside>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <nav>
    <ul>
      <a ><li>BUG TRACKER</li></a>
      <a href="/"><li>Issues</li></a>
      <a href="/projects"><li>Projects</li></a>
      <a href="/developers"><li>Developers</li></a>
      <a href="/submit_resolution"><li>Submit bug resolution</li></a>
    </ul>
  </nav>
</aside>
