{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>Bug Tracker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h2 style="text-align: center">Active Issues</h2>
    {% if query|length < 1 %}
    <h2 style="text-align: center">There are no active issues.</h2>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th>Issue ID</th>
                <th width="12%">On Project</th>
                <th width="12%">Title</th>
                <th width="35%">Description</th>
                <th width="7%">Priority</th>
                <th width="9%">Created On</th>
                <th width="9%">Due Date</th>
                <th width="30%">Assigned Developer</th>
            </tr>
        </thead>
        <tbody>
            {% for row in query %}
            <tr>
                {% for value in row %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
    </table>
    {% endif %}

    <div style="text-align: center">
        <form action="/" method="POST">
            <input class="button" type="submit" value="Add Issue">
        </form>
    </div>
</div>
{% endblock %}
