<div class="content">
  {% if error==1 %}
  <div>
    <p style="font-size:160%;">Invalid Credentials</p>
  </div>
  {% endif %}
  <div class="head">
    <h1>Bug Tracker</h1>
    <h2>Login</h2>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    </head>
  </div>
  <div class="inputs">
    <form action="/login" method="POST">
      <input type="email" name="email" placeholder="Email"><br>
      <input type="password" name="password" placeholder="password"><br>
      <input type="submit" value="Login">
    </form>
  </div>
</div>
