{% extends 'base.html' %}

{% block head %}
<title>Bug Tracker</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
<div id="title">
	<h1 id="bug_report_title">Bug Report Form</h1>
</div>
<div id="submit_form">
	<form action="/report_bug" method="post">
		<p class="element">Bug Title:</p>
		<input type="text" id="bug_title" name="bug_title">

		<p class="element">Bug Priority:</p>
		<select name="bug_priority" id="bug_priority" required>
			<option value="--Please Select--">--Please Select--</option>
			<option value="Low">Low</option>
			<option value="Medium">Medium</option>
			<option value="High">High</option>
		</select>
		
		<p class="element">Bug Description:</p>
		<textarea style="height:170px;width:470px" type="text" name="bug_desc" id="bug_desc"></textarea>
		
		<p class="element">On Project ID: </p>
		<input type="number" id="project_id" name="project_id" >

		<p class="element">Assign To (Enter the developer's ID): </p>
		<input type="number" id="assigned_to" name="assigned_to" > 

		<p class="element">Due Date: </p>
		<input placeholder="YYYY-MM-DD" type="text" id="due_date" name="due_date" >          


		
		<p class="element">Once you have confirmed everything in your bug report, hit 'submit'. You won't be able to change your bug report later.</p>
		<input id="button_submit" type="submit" name="submit" value="Submit">
	</form>
</div>
{% endblock %}
