<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bug Report Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
	<body>
		<main>
			<div id="desc">
				<h1>Bug Report Form</h1>
			<div id="submit_form">
				<form action="/report_bug" method="post">
					<p>Bug Title</p>
					<input type="text" id="bug_title" name="bug_title" >
					<p>Bug Priority (required):</p>
					<select name="bug_priority" id="bug_priority" required>
						<option value="--Please Select--">--Please Select--</option>
						<option value="Low">Low</option>
						<option value="Medium">Medium</option>
						<option value="High">High</option>
					</select>
					
					<p>Bug Description:</p>
					<input type="text" name="bug_desc" id="bug_desc">
					
					<p>On Project ID: </p>
					<input type="text" id="project_id" name="project_id" >
          
					<p>Assign To: </p>
					<input type="text" id="assigned_to" name="assigned_to" > 
          
					<p>Due Date: </p>
					<input type="text" id="due_date" name="project_id" >          
          
    
					
					<p>Once you have confirmed everything in your bug report, hit 'submit'. You won't be able to change your bug report later.</p>
					<input type="submit" id="submit" name="submit" value="Submit">
				</form>
			</div>
		</main>
	</body>
</html>
